@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');


body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }

.logo{
  width: 52px;
  float: left;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.nav {
    overflow: hidden;
    background-color:dimgray;
    margin-top: -16px;
    margin-bottom: -1px;
  }

ul{
    list-style-type: none;
}

li{
    float: left;
  }

li a {
    /* text */
    display: block;
    padding: 21px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    letter-spacing: 7px;
    font-family: 'Montserrat', sans-serif;
  }

li a:hover {
  /* color change on hover */
  background-color: rgb(49, 49, 49);
  transition: .5s;
  }    

.nav .search-container {
  float: right;
}
  
.nav input[type=text] {
  padding: 6px;
  margin-top: 13px;
  font-size: 17px;
  border: none;
}
  
.nav .search-container button {
  float: right;
  padding: 8px 9px;
  margin-top: 13px;
  margin-right: 16px;
  background: dimgray;
  font-size: 17px;
  border: none;
  cursor: pointer;
  color: rgb(150, 148, 148);
}
  
.nav .search-container button:hover {
  background: #ccc;
}

/* Hero Image */
.heroLouie {
  background-image: url(/images/HeroLouie2.jpg);
  background-color: #cccccc;
  height: 50%; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  
}

.heroText {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  transform: translate(50%, -155%);
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.blankSpace{
  float: left;
  width: 100%;
  height: 300px;
}

h3{
  text-align: center;
  transform: translate(0%, 1000%);
}



.leftAlign{
  margin-left: 300px; /* Product aligning */
}

.products a {
  margin-left: 100px; 
  float: left;
  text-align: center;
  overflow: auto; 
  margin-top: 25px;
}

.products a img {
  width: 200px;
  border:2px solid white;  
}

h4{
  font-size: 20px;
  text-decoration: none;
}

section p {
  text-align: center;
  transform: translate(0%, 0%)
}

.blankSpace2{
  float: left;
  width: 100%;
  height: 300px;
}

.catRunway{
  position: absolute;
  left: 50%;
  transform: translate(-50%,900px);
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 250px;   
}

#footer {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100px;           
  background-color: dimgray;
}

.socialMedia{
  text-align: right;
  margin-top: 10px;
}

.fa-facebook-square, .fa-instagram, .fa-snapchat-square, .fa-twitter-square{
  color: #fff;
  margin: 10px;
}